				<!-- Additional Elements -->
                <section class="wrapper style1 align-left">
                    <div class="inner">
                        <h2>Bibliography</h2>

                            <!-- Ordered List -->
                                <section>
                                    <!-- <header>
                                        <h3>Ordered List</h3>
                                    </header> -->
                                    <div class="content">

                                        <ol>
                                            <li>Bird, Steven, Ewan Klein, and Edward Loper. Natural Language Processing with Python. Beijing: O'Reilly Media Inc., 2009. </li>
                                            <li>Georgetown Slavery Archive, “Map of Maryland Jesuit Stations, 17th-19th centuries,” Georgetown Slavery Archive, accessed May 6, 2023, http://slaveryarchive.georgetown.edu/items/show/57.</li>
                                            <li>Maryland Province Archives, “Census of people to be sold in 1838,” Georgetown Slavery Archive, accessed May 6, 2023, http://slaveryarchive.georgetown.edu/items/show/71.</li>
                                            <li>Maryland State Archives, “Runaway ad for Isaac, 1814,” Georgetown Slavery Archive, accessed May 6, 2023, http://slaveryarchive.georgetown.edu/items/show/51.</li>
                                            <li>Maryland State Archives, “Runaway Ad for Isaac and Moses from White Marsh, 1803,” Georgetown Slavery Archive, accessed May 6, 2023, https://slaveryarchive.georgetown.edu/items/show/449.</li>
                                            <li>“Slave Resistance in Georgetown.” Google My Maps. Accessed May 6, 2023. https://www.google.com/maps/d/u/0/edit?mid=1EdYvUBaGW4B7yD86wZX53pl6sLO0gfE.</li>
                                            <li>Wingert, Cooper. “Georgetown Runaway Ads.” Google Drive. Accessed May 6, 2023. https://drive.google.com/drive/folders/1l0I-dIuADLDwVStLu2_S8K3Wf3nHKa_c.</li>
                                        </ol>

                                    </div>
                                </section>

                        </div>

                    </div>
                </section>
